# Watchlist example notebook

`Author: Francisco FÃ¶rster, Last update: 20210411`

Here we will do a xmatch against a list of positions in the sky, given in the file ```watchlist.csv```

In [1]:
import pandas as pd
import psycopg2
import requests

# Get credentials to open a direct connection with the database

In [2]:
credentials_file = "https://raw.githubusercontent.com/alercebroker/usecases/master/alercereaduser_v4.json"
params = requests.get(credentials_file).json()["params"]

In [3]:
conn = psycopg2.connect(dbname=params["dbname"], user=params["user"], host=params["host"], password=params["password"])

# Get watchlist of object positions

In [4]:
df = pd.read_csv("https://github.com/alercebroker/usecases/blob/master/example_data/watchlist.csv?raw=True")
df.head()

  id_source          ra        dec
0  source_1  160.183014  33.016467
1  source_2  174.215249  44.837895

# Prepare the query string for watchlist for object within 1 degress of given positions, and  happening within the last 10 days

In [5]:
objects = []
for _,row in df.iterrows():
    objects.append(f"(\'{row.id_source}\', {row.ra}, {row.dec})")
objects_str = ",\n".join(objects)
objects_str = "()'source_1', 49.0189 +55.3074)"

"('source_1', 160.18301441363647, 33.0164673528409),\n('source_2', 174.21524897555545, 44.83789535222221)"

Create query string

In [6]:
from astropy.time import Time
nt = Time.now()
last_mjd_discovery = nt.mjd - 10

In [1]:
search_radius = 1 # degrees
query = """
WITH catalog ( source_id, ra, dec) AS (
    VALUES
        {values}
)
SELECT 
    c.source_id, c.ra, c.dec, o.oid, o.meanra, o.meandec, q3c_dist(c.ra,c.dec,o.meanra,o.meandec), 
    o.firstmjd, o.ndethist, o.ndet

FROM object o, catalog c
    /*
     * It is REALLY important to first use the catalog then the object ra,dec for speed. The radius is in degrees.
     */
WHERE
    q3c_join(c.ra, c.dec,o.meanra, o.meandec, {radius})
    AND o.firstmjd > %s
    AND o.ndethist < 5
""" % (last_mjd_discovery)
query_str = query.format(values = objects_str, radius = search_radius) # radius in degrees

NameError: name 'last_mjd_discovery' is not defined

In [2]:
matches = pd.read_sql(query_str,conn)
print(matches.shape)
matches

NameError: name 'pd' is not defined

# Query objects within 10 degress of given positions, first detected within the last 10 days, with SN probabilities > 0.4, and ranking=1 in the stamp classifier

In [9]:
search_radius = 10 # degrees
query = """
WITH catalog ( source_id, ra, dec) AS (
    VALUES
        {values}
),
sn (oid, classifier_name, class_name, probability, ranking) AS (
    SELECT
        o.oid, p.classifier_name, p.class_name, p.probability, p.ranking
    FROM
        probability p
    INNER JOIN 
        object o
    ON 
        o.oid=p.oid
    WHERE
        p.classifier_name='stamp_classifier'
        AND p.class_name IN ('SN')
        AND p.ranking=1
        AND p.probability > 0.4
        AND o.firstmjd > {last_mjd_discovery}
)

SELECT 
    c.source_id, c.ra, c.dec, o.oid, o.meanra, o.meandec, q3c_dist(c.ra,c.dec,o.meanra,o.meandec), 
    o.firstmjd, sn.classifier_name, sn.class_name, sn.probability, sn.ranking

FROM object o INNER JOIN sn ON sn.oid=o.oid, catalog c
    /*
     * It is REALLY important to first use the catalog then the object ra,dec for speed. The radius is in degrees.
     */
WHERE
    q3c_join(c.ra, c.dec,o.meanra, o.meandec, {radius})
    AND o.firstmjd > {last_mjd_discovery}
ORDER BY
    c.source_id
"""
query_str = query.format(values = objects_str, radius = search_radius, last_mjd_discovery=last_mjd_discovery) # radius in degrees

In [10]:
matches = pd.read_sql(query_str,conn)
print(matches.shape)
matches.head(100)

(23, 12)

,source_id,ra,dec,oid,meanra,meandec,q3c_dist,firstmjd,classifier_name,class_name,probability,ranking
0,source_1,160.183014,33.016467,ZTF21aasvhwh,166.770659,32.800088,5.533925,59306.372836,stamp_classifier,SN,0.707814,1
1,source_1,160.183014,33.016467,ZTF21aasuggn,166.212813,31.622934,5.281848,59308.227685,stamp_classifier,SN,0.430196,1
2,source_1,160.183014,33.016467,ZTF21aastzsn,148.786835,35.379685,9.711189,59310.249132,stamp_classifier,SN,0.793107,1
3,source_1,160.183014,33.016467,ZTF21aappwvm,165.757943,31.974741,4.815426,59308.227685,stamp_classifier,SN,0.661527,1
4,source_1,160.183014,33.016467,ZTF21aatuynj,154.108685,24.817833,9.766739,59312.234653,stamp_classifier,SN,0.816249,1
5,source_1,160.183014,33.016467,ZTF21aasuhnu,160.418486,26.539921,6.479763,59308.269213,stamp_classifier,SN,0.754478,1
6,source_1,160.183014,33.016467,ZTF21aalwdzx,151.070306,38.973164,9.469663,59314.267894,stamp_classifier,SN,0.412541,1
7,source_1,160.183014,33.016467,ZTF21aatxuyp,157.572440,37.975224,5.394375,59314.277234,stamp_classifier,SN,0.771551,1
8,source_1,160.183014,33.016467,ZTF21aardzlu,155.949496,42.275894,9.843950,59306.248542,stamp_classifier,SN,0.651708,1
9,source_1,160.183014,33.016467,ZTF21aaroydq,163.573451,34.238847,3.076112,59306.304271,stamp_classifier,SN,0.524896,1
10,source_1,160.183014,33.016467,ZTF21aardzpu,158.150706,38.960262,6.166557,59308.225984,stamp_classifier,SN,0.435725,1
11,source_1,160.183014,33.016467,ZTF21aarowtc,161.390183,39.823360,6.875642,59306.248542,stamp_classifier,SN,0.570181,1
12,source_1,160.183014,33.016467,ZTF21aarnbox,154.133940,39.014253,7.736225,59306.303229,stamp_classifier,SN,0.431122,1
13,source_1,160.183014,33.016467,ZTF21aasgnqa,150.838518,38.408163,9.299792,59308.264919,stamp_classifier,SN,0.471552,1
14,source_2,174.215249,44.837895,ZTF21aarohyu,180.167057,51.840932,8.036995,59307.262998,stamp_classifier,SN,0.836388,1
15,source_2,174.215249,44.837895,ZTF21aarwlht,163.528353,45.612058,7.561045,59307.238032,stamp_classifier,SN,0.677232,1
16,source_2,174.215249,44.837895,ZTF21aatwunv,175.477111,35.881612,9.007417,59315.197338,stamp_classifier,SN,0.489751,1
17,source_2,174.215249,44.837895,ZTF21aarxsfm,174.668285,41.758295,3.097186,59307.261493,stamp_classifier,SN,0.878125,1
18,source_2,174.215249,44.837895,ZTF21aarovmb,170.254855,53.174650,8.728681,59306.298993,stamp_classifier,SN,0.461672,1
19,source_2,174.215249,44.837895,ZTF21aardszu,175.154267,36.669955,8.198687,59307.233808,stamp_classifier,SN,0.697391,1
20,source_2,174.215249,44.837895,ZTF21aasyydo,174.845187,42.118591,2.757429,59311.175648,stamp_classifier,SN,0.717340,1
21,source_2,174.215249,44.837895,ZTF21aaszaoy,176.276831,53.616035,8.879774,59311.179491,stamp_classifier,SN,0.484196,1
22,source_2,174.215249,44.837895,ZTF21aarxuih,182.877322,41.887535,6.949494,59307.235220,stamp_classifier,SN,0.572513,1

Close the connection

In [10]:
conn.close()

# Open the resulting objects in the ALeRCE explorer

In [11]:
url = "https://alerce.online/?" + "&".join(["oid=%s" % oid for oid in matches.oid.values]) + "&count=true&page=1&perPage=1000&sortDesc=false"
print(url)

https://alerce.online/?oid=ZTF24aabvfwj&oid=ZTF24aabvlgp&oid=ZTF24aabvlbi&oid=ZTF24aabvlbj&oid=ZTF24aabvkon&oid=ZTF24aabvkom&oid=ZTF24aabvlgj&oid=ZTF24aabvlbg&oid=ZTF24aabvkok&oid=ZTF24aabvlbh&oid=ZTF24aabvlgi&oid=ZTF24aacamub&oid=ZTF24aacgwov&oid=ZTF24aacgwow&oid=ZTF24aacgwjl&oid=ZTF24aacgwjn&oid=ZTF24aacigkc&oid=ZTF24aacigka&oid=ZTF24aacigkb&oid=ZTF24aacieiv&oid=ZTF24aacigkd&oid=ZTF24aacigjz&oid=ZTF24aacifhk&oid=ZTF24aacifhg&oid=ZTF24aacifhm&oid=ZTF20acgxzxq&oid=ZTF24aacrhih&oid=ZTF24aacrhic&oid=ZTF24aacrohi&oid=ZTF24aacrohj&oid=ZTF24aacycbu&oid=ZTF24aacycbv&oid=ZTF24aacycbi&oid=ZTF24aacycad&oid=ZTF24aacycqg&oid=ZTF24aacycct&oid=ZTF24aacythv&oid=ZTF24aacytht&oid=ZTF24aacythu&oid=ZTF24aacythz&oid=ZTF24aacythy&oid=ZTF24aacythw&oid=ZTF24aaczhav&oid=ZTF24aaczhaw&oid=ZTF24aaczhmm&count=true&page=1&perPage=1000&sortDesc=false